.features {
  display: flex;
  flex-direction: column;
  gap: 90px;
}

.positin {
  width: 80px;
}

.features_top {
  gap: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 146%;
    color: #18063c;
  }

  p {
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;
    color: #404040;
    opacity: 0.8;
    text-align: center;
  }

  img {
    width: 140px;
  }
}

.features_bottom {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
  .cards2 {
    box-shadow: 14px 20px 48px 0 rgba(25, 15, 44, 0.06) !important;
    background: #7562e0 !important;
    .features_bottom-card {
      background-color: rgb(186, 177, 240) !important;
    }
  }
  .cards3 {
    box-shadow: 14px 20px 48px 0 rgba(25, 15, 44, 0.06) !important;
    background: #fa865f !important;
    .features_bottom-card {
      background-color: rgb(253, 195, 175) !important;
    }
  }

  .features_bottom-cards {
    border-radius: 48px;
    width: 459px;
    height: 258px;
    box-shadow: 14px 20px 48px 0 rgba(25, 15, 44, 0.06);
    background: #70d0dc;
    padding: 35px;

    .features_bottom-card {
      background-color: rgb(184, 232, 238);
      width: 80px;
      height: 80px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    h3 {
      font-weight: 600;
      font-size: 28px;
      line-height: 100%;
      color: #fff;
      padding: 15px 0;
    }

    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 144%;
      color: #fff;
      opacity: 0.8;
    }
  }
}

.topmimg2 {
  display: none;
}
@media (max-width: 300px) {
  .topmimg2 {
    width: 70px;
    display: block;
  }
  .positin {
    display: none;
  }
  .features_top {
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
      font-weight: 600;
      font-size: 24px;
      line-height: 150%;
      text-transform: capitalize;
      text-align: center;
      color: #18063c;
      color: #18063c;
    }

    .topmimg1 {
      display: none;
    }
    p {
      font-weight: 400;
      font-size: 14px;
      text-align: center;
      color: #404040;
    }

    img {
      width: 140px;
    }
  }

  .features_bottom {
    display: grid;

    grid-template-columns: repeat(100%);
    .features_bottom-cards {
      border-radius: 48px;
      width: 100%;
      height: auto;
      box-shadow: 14px 20px 48px 0 rgba(25, 15, 44, 0.06);
      background: #70d0dc;
      padding: 35px;

      .features_bottom-card {
        background-color: rgb(184, 232, 238);
        width: 80px;
        height: 80px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      h3 {
        font-weight: 600;
        font-size: 20px;
        line-height: 100%;
        color: #fff;
      }

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 162%;
        color: #fff;
        opacity: 0.8;
      }
    }
  }
}
